# Desperately seeking standards: using text processing to save your eyesight (the code)


## About the dataset

This dataset, pulled from university interlibrary loan records, consists of 5 columns and 38,231 rows (including column headers). The original dataset possessed far more columns, however, due to privacy and data cleaning reasons, excess columns were removed. The remaining columns are entitled "Loan Title," "Photo Journal Title," "Photo Article Author," "Photo Article Title," and "Transaction Date." All columns contain textual information, save for the date column. Dates represented span from 2015-02-07 to 2019-05-08.


## About the code

Code was written using Jupyter Notebook version 6.2.0. It uses Python 3.7.4, pandas version 1.2.0, and the Python module ```re```.

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_excel("ILL-deidentified-data.xlsx")

In our ILL dataset, standards can be found in one of 3 columns: Photo Article Title, Loan Title, or Photo Journal Title. Using the pandas built-in function ```.findall```, we will be searching the dataset 3 times (once for each column) for any instances and variation of the word "standard."

In [3]:
standards1 = df['Photo Article Title'].str.findall('standard', flags=re.IGNORECASE)
print(standards1)

0         []
1        NaN
2         []
3        NaN
4        NaN
        ...
38225     []
38226    NaN
38227    NaN
38228    NaN
38229    NaN
Name: Photo Article Title, Length: 38230, dtype: object

In [4]:
standards2 = df['Loan Title'].str.findall('standard', flags=re.IGNORECASE)
print(standards2)

0        NaN
1         []
2        NaN
3         []
4         []
        ...
38225    NaN
38226     []
38227     []
38228     []
38229     []
Name: Loan Title, Length: 38230, dtype: object

In [5]:
standards3 = df['Photo Journal Title'].str.findall('standard', flags=re.IGNORECASE)
print(standards3)

0         []
1        NaN
2         []
3        NaN
4        NaN
        ...
38225     []
38226    NaN
38227    NaN
38228    NaN
38229    NaN
Name: Photo Journal Title, Length: 38230, dtype: object

We created a new dataset and exported that dataset to a new spreadsheet, changing the column header names so they're more easily distinguishable to the human eye.

In [6]:
data = [standards1, standards2, standards3]

In [7]:
headers = ["Article_Title", "Loan_Title", "Journal_Title"]

new_df = pd.concat(data, axis=1, keys=headers)

In [8]:
new_df.to_csv("text-standards-ILL.csv")

In this newly created spreadsheet, we manually went in and removed all instances of the characters "[" and "]". Once this is done, we read in the newly edited dataset once more, and then removed the unnecessary A column as well as all rows that only contain ```NaN``` values.

In [9]:
df2 = pd.read_csv("text-standards-ILL.csv")

In [10]:
print(df2.columns)

Index(['Unnamed: 0', 'Article_Title', 'Loan_Title', 'Journal_Title'], dtype='object')

In [11]:
dropped_col = df2.drop(df2.columns[0], axis=1)
print(dropped_col)

      Article_Title Loan_Title Journal_Title
0               NaN        NaN           NaN
1               NaN        NaN           NaN
2               NaN        NaN           NaN
3               NaN        NaN           NaN
4               NaN        NaN           NaN
...             ...        ...           ...
38225           NaN        NaN           NaN
38226           NaN        NaN           NaN
38227           NaN        NaN           NaN
38228           NaN        NaN           NaN
38229           NaN        NaN           NaN

[38230 rows x 3 columns]

In [12]:
dropped_col.dropna(axis = 0, how = 'all', inplace = True)
print(dropped_col)

               Article_Title Loan_Title Journal_Title
135    Standard', 'Standard'        NaN           NaN
853                Standard'        NaN           NaN
888                standard'        NaN           NaN
988                Standard'        NaN           NaN
1370               Standard'        NaN           NaN
...                      ...        ...           ...
36990              standard'        NaN           NaN
37067              standard'        NaN     Standard'
37398                    NaN  Standard'           NaN
37727                    NaN  Standard'           NaN
37940              Standard'        NaN           NaN

[169 rows x 3 columns]

In [13]:
dropped_col.to_csv("text-cleaned_standards.csv")